// transistion
@mixin transition($value) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

// border radius
@mixin border-radius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}

// box-shadow
@mixin box-shadow($value) {
    -webkit-box-shadow: $value; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: $value; /* Firefox 3.5 - 3.6 */
    box-shadow: $value;
}

// transform
@mixin transform($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

// animation
@mixin animation($value) {
    animation: $value;
    -webkit-animation: $value;
}

// scrollbar
@mixin scrollbar($color) {
    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba($color: $primary, $alpha: 0.3);
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color;
        border: none;
    }
}
