form {
    label {
        font-weight: 500;
    }
}

.form-control,
.form-select {
    border: 2px solid $gray-500;
    @include border-radius(0.2rem);

    &.input-invalid {
        border: 2px solid $danger;
    }

    &.input-valid {
        border: 2px solid $success;
    }

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        @include box-shadow(none);
        border: 2px solid $primary;

        &.input-invalid {
            border: 2px solid $danger;
        }

        &.input-valid {
            border: 2px solid $success;
        }
    }
}

// checkboxe

.form-check {
    cursor: pointer;
}

.form-check-input {
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 0.08em;
    margin-right: 0.6rem;
    border: 2px solid $gray-500;

    &:checked[type="checkbox"] {
        background-color: transparent;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' fill='#{$primary}'/%3E%3C/svg%3E");
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' fill='rgba(13,110,253,1)'/%3E%3C/svg%3E");
    }

    &:checked[type="radio"] {
        position: relative;
        background-color: transparent;

        &:after {
            content: "";
            width: 0.65rem;
            height: 0.65rem;
            background-color: $primary;
            display: block;
            border-radius: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    &:focus {
        @include box-shadow(none);
    }
}
